@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: 'Lato', sans-serif;
  width: 550px;
}

.container {
  background: turquoise;
  width: 180px;
  height: 180px;
  position: relative; /*todos los elementos se aliniearan en base a este contenedor*/
}

.element1, .element2, .element3, .element4, .element5, .element6, .element7, .element8, .element9 {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.element1 {
  background: papayawhip;
  position: absolute;
  left: 0;
  top: 0 ;
}

.element2 {
  background: papayawhip;
  position: absolute;
  left: 0;
  top: 50%; /*lo que hace es tomar la caja grande, y fuera del 50% de esta caja gran
  es colocado la cajita */
  transform: translate(0,-50%); /*esto sirve para ajustar la cajita dentro de la caja grande
  de esta manera decimos las coordenadas 
  x=0, que esté pegado 
  y= -50%, que suba en su mitad
  y ya con esto la cajita queda en la mitad de la mitad
  */

}

.element3 {
  background: papayawhip;
  position: absolute;
  left: 0;
  top:100%; /*Esto dice que la cajita estará afuera del total de la caja grande; con el 100% es  para q se baje el total*/
  transform: translate(0, -100%);
  
}

.element4 {
  background: pink;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.element5 {
  background: pink;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%) ;
}

.element6 {
  background: pink;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

.element7 {
  background: lightcyan;
  position: absolute;
  left: 100%;
  transform: translate(-100%, 0);
}

.element8 {
  background: lightcyan;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
}

.element9 {
  background: lightcyan;
  position: absolute;
  left:100%;
  top: 100%;
  transform: translate(-100%, -100%);
}
/*Aquí qué aprendemos de cada uno
left= cuando le ponga un valor en % quiere decir que a la caja le saco un porcentaje y fuera de este le pongo mi cajita
ejem usé 50%, es decir a la caja se parte en dos y fuera de la primera parte irá mi cajita
Top= es similar al de arriba solo que me indica que tanto con referencia lo vertical
Transform: translate (x, y)  --> aqui por coordenadas vamos acomodando
por ejm q nos quedó un poco afuera de donde queremos; usamos los valores en positivo (+) para q baje o vaya a la derecha 
y negativo (-) para que vaya arriba o a la izquierda

*/