@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.element1,.element2, .element3{
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    
}

.element1{
    background:papayawhip;
 
}
.element2{
    background:pink;
}
.element3{
    background:lightcyan;

}
.container1, .container2, .container3, .container4, .container5, .container6, .container7, .container8, .container9{
    background: rgb(58, 110, 206);
    border: 1px solid white;
    width: 180px;
    height: 180px;
}
.container1{
    display: table-cell;
}
.container2{
    display: table-cell;
}
.container3{
    display: table-cell;
}
.container4{
    display: table-cell;
}
.container5{
    display: table-cell;
}
.container6{
    display: table-cell;
}
.container7{
    display: table-cell;
}
.container8{
    display: table-cell;
}
.container9{
    display: table-cell;
}